
*{
    margin:0 ; 
    padding:0 ; 
    box-sizing: border-box;
}
#left{
    width:30%; 
    border:2px solid black ; 
    height:100% ;
    display: flex ;
    flex-direction: column;
    gap:40px ;  
    padding:10px ;
}
#right{
    width:70%;
    border  : 2px solid black ; 
    height:100% ; 
}
#container{
    display : flex ; 
    height : 100vh ; 
    padding:2px  ;
}
#admin{
    margin-bottom:50px;
}
#user{
    cursor  : pointer ; 
}
#age{
    display : flex ; 
    justify-content: center;
    gap:20px ; 

}
#age div{
    padding:20px;
    padding-left: 40px;
    padding-right:40px ; 
    border : 2px solid black ; 
    width:30% ; 
}
#board{
    font-weight: bold;
    margin:20px;
}
.birthday{
    text-align: center;
    margin-top:50px ; 
    font-weight: bold ;
    text-wrap: wrap;
}


